@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), sans-serif;
  --font-serif: var(--font-cormorant), serif;
  
  --color-brand-black: #080808;
  --color-brand-charcoal: #111111;
  --color-brand-off-white: #F2EEE6;
  --color-brand-warm-cream: #E8DFD1;
  --color-brand-gold-accent: #C5A880;
}

:root {
  background-color: #080808;
  color: #F2EEE6;
}

html {
  scroll-behavior: smooth;
}

/* Custom Minimal Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #080808;
}

::-webkit-scrollbar-thumb {
  background: #252525;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E8DFD1;
}

/* Selection Color */
::selection {
  background-color: #E8DFD1;
  color: #080808;
}

/* Hide default scrollbar behavior on maps/carousels */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom Modal Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 2px;
}

.writing-mode-vertical {
  writing-mode: vertical-rl;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(232, 223, 209, 0.5);
}
